.nav-users {
  font-family: var(--font-family-poppins);
  font-weight: var(--weight-semiBold);
  display: flex;
}
.header__user {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
.header__box-show {
  --scale-from: 0;
  --scale-to: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(36, 34, 34, 0.386);
  border-radius: 3px;
  transform-origin: 90% -3%;
  animation: fadeIn 0.3s ease-in, ScaleIn 0.3s ease-in;
  z-index: 1 !important;
  display: none;
}

.header__box-show::before {
  content: "";
  display: block;
  position: absolute;
  right: 25px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.nav-toggle-btn {
  margin-left: 10px;
}
.header__user--show {
  width: 150px;
  top: 50px;
  right: -28px;
}

.header__cart--show {
  width: 400px;
  top: 50px;
  right: -20px;
}

.header__user:hover .header__user--show,
.header__cart:hover .header__cart--show {
  display: block;
}

.header__user-info {
  display: flex;
  justify-items: center;
  text-decoration: none;
  position: relative;
}

.list-item--hover:hover {
  background-color: rgba(38, 58, 131, 0.2) !important;
}

.header__user-item {
  padding: 12px;
}

.border-top:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.border-bottom:first-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__user-item:hover .header__user-item-link {
  color: var(--text-purple);
}

.header__user-item-link {
  text-decoration: none;
  color: var(--text-black);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-align: center;
}
.header-heading-text {
  background-color: transparent;
  align-items: center;
  padding: 10px 0;
  margin: 0 0 0 1.3rem;
  user-select: none;
}
.price_value {
  font-size: 1.6rem;
  color: var(--text-purple);
  display: flex;
  justify-content: flex-end;
  line-height: 1.625rem;
}
.header-heading-text h3 {
  font-family: var(--font-family-poppins);
  color: var(--text-purple);
  font-weight: 600;
  font-size: 1.8rem;
}
.header__cart-item {
  padding: 12px;
  list-style: none;
}

.header__cart-link {
  display: flex;
  text-decoration: none;
}

.header__cart-img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.header__cart-info {
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  display: flex;
  margin-left: 8px;
  font-size: 1.6rem;
  line-height: 2;
  overflow: hidden;
}

.header__cart-info-name {
  width: 70%;
  color: var(--text-black);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__cart-btn {
  border-radius: 2px;
  float: right;
  margin: 12px 8px 8px 0;
}

.nav-users {
  margin-left: auto;
}
.header__cart,
.header__user {
  display: flex;
}
.header__cart {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  position: relative;
  width: 100%;
  padding: 5px;
}
.header .btn.header__cart-btn {
  display: block;
}
.header__cart .header__cart-icon {
  font-size: 20px;
  color: white;
  position: relative;
  overflow: visible;
  outline: 0;
  padding: 10px 0;
}

.header__cart-badge {
  position: absolute;
  top: 5px;
  right: -10px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  font-size: 1.4rem;
  color: var(--text-white);
  background-color: rgb(241, 42, 42);
}
/*  No Cart */
.header__cart-show--no-cart .no-cart {
  display: block;
}

.no-cart {
  text-align: center;
  padding: 6.75rem 0;
  display: none;
}

.no-cart-img {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url(../images/Nocart.png);
}

.no-cart-text {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  margin-top: 1rem;
  user-select: none;
}

@media (min-width: 575px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
