:root {
  --bg-purple: #9742ff;
  --bg-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
  --bg-dark-purple: hsla(279, 42%, 9%, 1);
  --bg-oxford-blue: hsla(240, 63%, 13%, 1);
  --bg-oxford-blue-alpha-95: hsla(240, 63%, 13%, 0.95);
  --bg-oxford-blue-alpha-90: hsla(240, 63%, 13%, 0.9);
  --bg-oxford-blue-alpha-80: hsla(240, 63%, 13%, 0.8);

  --gradient-1: linear-gradient(
    to right bottom,
    hsl(299, 100%, 52%),
    hsl(291, 100%, 58%),
    hsl(283, 100%, 60%),
    hsl(273, 100%, 62%),
    hsl(262, 100%, 63%),
    hsl(242, 100%, 69%),
    hsl(223, 100%, 62%),
    hsl(210, 100%, 50%),
    hsl(203, 100%, 50%),
    hsl(198, 100%, 50%),
    hsl(192, 100%, 48%),
    hsl(185, 90%, 48%)
  );
  --gradient-3: linear-gradient(
    to right bottom,
    rgb(163, 9, 166),
    rgb(29, 74, 187),
    rgb(34, 45, 164),
    rgb(92, 47, 105)
  );
  --gradient-2: linear-gradient(
    90deg,
    transparent 0%,
    #9841ff 50%,
    transparent 100%
  );
  --gradient-4: linear-gradient(
    to left top,
    #0cd6e9,
    #00c9ff,
    #00b2ff,
    #8187ff,
    #fb0aff
  );
  /* text color */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-gainsboro: hsla(0, 0%, 87%, 1);
  --text-champagne-pink: hsla(23, 61%, 86%, 1);
  --text-purple: hsla(267, 100%, 63%, 1);

  /* border color */
  --border-space-cadet: hsl(240, 45%, 17%);
  --border-purple-alpha-30: hsla(267, 100%, 63%, 0.3);

  /* font family */
  --fontFamily-oxanium: "Oxanium", cursive, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --fontFamily-FontZin: FontZin, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-poppins: "Poppins", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-myriadPro: "Myriad Pro", arial, sans-serif;

  /* font size */
  --fontSize-1: 3.6rem;
  --fontSize-2: 2.4rem;
  --fontSize-3: 2rem;
  --fontSize-4: 1.7rem;
  --fontSize-5: 1.6rem;
  --fontSize-6: 1.5rem;
  --fontSize-7: 1.4rem;
  --fontSize-8: 1.2rem;

  /* font weight */
  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;

  --section-spacing: 60px;

  --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);
  --box-shadow: 10px 10px 0px hsla(0, 0%, 0%, 0.2);

  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-3: 3px;

  --clip-path-1: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --clip-path-2: polygon(85% 0, 100% 40%, 100% 100%, 15% 100%, 0 60%, 0% 0%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
  --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
  --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
  --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  --clip-path-10: polygon(100% 36%, 88% 1%, 0% 0%, 0 73%, 11% 100%, 100% 100%);

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/*-----------------------------------*\
    #RESET Css
  \*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
time,
span,
input,
button,
textarea,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: var(--text-gainsboro);
  font-family: var(--font-family-poppins);
  font-size: var(--fontSize-4);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-dark-purple);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-purple);
}

/*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
body {
  scroll-behavior: smooth;
}
.container {
  padding-inline: 12px;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.title {
  color: var(--text-white);
}

.h1,
.h3 {
  line-height: 1.3;
}

.h1 {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-semiBold);
}

.h2 {
  font-size: var(--fontSize-2);
  line-height: 1.4;
}

.h3 {
  font-size: var(--fontSize-3);
}

.section-title,
.section-subtitle,
.section-text {
  text-align: center;
}

.section-subtitle {
  color: var(--text-white);
  font-weight: var(--weight-semiBold);
  font-size: var(--fontSize-5);
  text-transform: uppercase;
}

.btn {
  position: relative;

  color: var(--text-white);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-semiBold);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: 120px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  /* padding-inline: 30px; */
  overflow: hidden;
}
.clip-path-1 {
  -webkit-clip-path: var(--clip-path-1);
  clip-path: var(--clip-path-1);
}
.clip-path-2 {
  -webkit-clip-path: var(--clip-path-2);
  clip-path: var(--clip-path-2);
}
.clip-path-3 {
  -webkit-clip-path: var(--clip-path-3);
  clip-path: var(--clip-path-3);
}
.clip-path-4 {
  -webkit-clip-path: var(--clip-path-4);
  clip-path: var(--clip-path-4);
}
.clip-path-5 {
  -webkit-clip-path: var(--clip-path-5);
  clip-path: var(--clip-path-5);
}
.clip-path-6 {
  -webkit-clip-path: var(--clip-path-6);
  clip-path: var(--clip-path-6);
}
.clip-path-7 {
  -webkit-clip-path: var(--clip-path-7);
  clip-path: var(--clip-path-7);
}
.clip-path-8 {
  -webkit-clip-path: var(--clip-path-8);
  clip-path: var(--clip-path-8);
}
.clip-path-9 {
  -webkit-clip-path: var(--clip-path-9);
  clip-path: var(--clip-path-9);
}
.clip-path-10 {
  -webkit-clip-path: var(--clip-path-10);
  clip-path: var(--clip-path-10);
}

.bg-btn {
  background-image: var(--gradient-1);
}

.btn::before {
  content: "";
  position: absolute;
  top: var(--top, 50%);
  left: var(--left, 50%);
  width: 250%;
  -webkit-padding-after: 250%;
  padding-block-end: 250%;
  background-color: var(--bg-purple);
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  border-radius: var(--radius-circle);
  z-index: -1;
  -webkit-transition: -webkit-transform var(--transition-2);
  transition: -webkit-transform var(--transition-2);
  -o-transition: transform var(--transition-2);
  transition: transform var(--transition-2);
  transition: transform var(--transition-2),
    -webkit-transform var(--transition-2);
}

.btn:is(:hover, :focus-visible)::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.w-100 {
  width: 100%;
}

.section {
  padding-block: var(--section-spacing);
}

.section-title {
  margin-block: 10px;
  text-transform: uppercase;
}

.section-title .span {
  display: inline;
  color: var(--text-purple);
}

.section-text {
  -webkit-margin-after: 40px;
  margin-block-end: 40px;
  max-width: 480px;
  margin-inline: auto;
}

.social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.img-holder {
  background-color: var(--bg-purple);
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

[data-reveal] {
  opacity: 0;
  -webkit-transition: var(--transition-2);
  -o-transition: var(--transition-2);
  transition: var(--transition-2);
}

[data-reveal="left"] {
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}

[data-reveal="right"] {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

[data-reveal="bottom"] {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

[data-reveal].revealed {
  opacity: 1;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

/*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/

.header .btn {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 10px 12px;
  z-index: 4;
}

.header.active {
  position: fixed;
  -webkit-animation: slideUP 1s ease forwards;
  animation: slideUP 1s ease forwards;
  background-color: var(--bg-oxford-blue);
}

@-webkit-keyframes slideUP {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideUP {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-toggle-btn .line {
  height: 3px;
  width: 10px;
  margin-block: 4px;
  background-color: var(--text-gainsboro);
  border-radius: 8px;
  -webkit-transition: var(--transition-1);
  -o-transition: var(--transition-1);
  transition: var(--transition-1);
}

.nav-toggle-btn .line-2 {
  width: 20px;
}

.nav-toggle-btn .line-3 {
  -webkit-margin-start: auto;
  margin-inline-start: auto;
}

.nav-toggle-btn.active .line-2 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-toggle-btn.active .line-1 {
  -webkit-transform: rotate(45deg) translate(4px, 1.5px);
  -ms-transform: rotate(45deg) translate(4px, 1.5px);
  transform: rotate(45deg) translate(4px, 1.5px);
}

.nav-toggle-btn.active .line-3 {
  -webkit-transform: rotate(45deg) translate(-3px, -1px);
  -ms-transform: rotate(45deg) translate(-3px, -1px);
  transform: rotate(45deg) translate(-3px, -1px);
}

.navbar {
  position: absolute;
  top: calc(100% - 1px);
  right: 12px;
  left: 12px;
  background-color: var(--bg-oxford-blue);
  padding: 0 15px;
  -webkit-clip-path: var(--clip-path-1);
  clip-path: var(--clip-path-1);
  visibility: hidden;
  -webkit-transition: -webkit-clip-path 500ms var(--cubic-out);
  transition: -webkit-clip-path 500ms var(--cubic-out);
  -o-transition: clip-path 500ms var(--cubic-out);
  transition: clip-path 500ms var(--cubic-out);
  transition: clip-path 500ms var(--cubic-out),
    -webkit-clip-path 500ms var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  max-width: max-content;
  min-width: 40%;
  text-align: center;
  margin-left: auto;
  border-radius: 10px;
  clip-path: var(--clip-path-1);
}

.nav-login {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.navbar-link,
.service-item {
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
  color: var(--text-white);
}
.navbar-link:hover {
  color: var(--text-purple);
}

.navbar-item,
.service-item {
  -webkit-border-before: 1px solid var(--border-space-cadet);
  border-block-start: 1px solid var(--border-space-cadet);
  text-transform: uppercase;
}

.navbar-item:last-child,
.service-item:last-child {
  -webkit-border-after: 1px solid var(--border-space-cadet);
  border-block-end: 1px solid var(--border-space-cadet);
}
.service {
  display: none;
}
.service.active {
  display: block;
}

.arrow-down-icon {
  margin-left: 10px;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-main {
  -webkit-clip-path: var(--clip-path-9);
  clip-path: var(--clip-path-9);
  background-color: var(--bg-oxford-blue-alpha-80);
}

.copyright {
  padding: 30px 20px;
}

/*-----------------------------------*\
    #BACK TO TOP
  \*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-image: var(--gradient-1);
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 2.1rem;
  -webkit-clip-path: var(--clip-path-8);
  clip-path: var(--clip-path-8);
  opacity: 0;
  -webkit-transition: var(--transition-1);
  -o-transition: var(--transition-1);
  transition: var(--transition-1);
  z-index: 4;
}

.back-top-btn.active {
  opacity: 1;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.cursor {
  display: none;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 575px) {
  .animate-item.animate-item__left {
    opacity: 0;
    -webkit-transform: translateX(-50px) !important;
    -ms-transform: translateX(-50px) !important;
    transform: translateX(-50px) !important;
    -webkit-transition: opacity 1s ease-out, -webkit-transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, -webkit-transform 0.6s ease-out !important;
    -o-transition: opacity 1s ease-out, transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, transform 0.6s ease-out,
      -webkit-transform 0.6s ease-out !important;
  }

  .animate-item.animate-item__right {
    opacity: 0;
    -webkit-transform: translateX(50px) !important;
    -ms-transform: translateX(50px) !important;
    transform: translateX(50px) !important;
    -webkit-transition: opacity 1s ease-out, -webkit-transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, -webkit-transform 0.6s ease-out !important;
    -o-transition: opacity 1s ease-out, transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, transform 0.6s ease-out,
      -webkit-transform 0.6s ease-out !important;
  }

  .animate-item.animate-item__top {
    opacity: 0;
    -webkit-transform: translateY(50px) !important;
    -ms-transform: translateY(50px) !important;
    transform: translateY(50px) !important;
    -webkit-transition: opacity 1s ease-out, -webkit-transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, -webkit-transform 0.6s ease-out !important;
    -o-transition: opacity 1s ease-out, transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, transform 0.6s ease-out,
      -webkit-transform 0.6s ease-out !important;
  }
  .animate-item.animate-item__bottom {
    opacity: 0;
    -webkit-transform: translateY(-50px) !important;
    -ms-transform: translateY(-50px) !important;
    transform: translateY(-50px) !important;
    -webkit-transition: opacity 1s ease-out, -webkit-transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, -webkit-transform 0.6s ease-out !important;
    -o-transition: opacity 1s ease-out, transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, transform 0.6s ease-out !important;
    transition: opacity 1s ease-out, transform 0.6s ease-out,
      -webkit-transform 0.6s ease-out !important;
  }

  .animate-item.animate-item-show {
    opacity: 1;
    -webkit-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important;
  }
  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .header .logo img {
    width: 160px;
  }
}

@media (min-width: 768px) {
  :root {
    --fontSize-1: 6.5rem;
    --fontSize-2: 3.2rem;
  }

  .container {
    max-width: 720px;
  }

  .h1 {
    line-height: 1;
  }

  .cursor {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: var(--bg-purple);
    border-radius: var(--radius-circle);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    z-index: 6;
    -webkit-transition: var(--transition-1);
    -o-transition: var(--transition-1);
    transition: var(--transition-1);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
  }

  body:hover .cursor {
    opacity: 0.5;
  }

  body .cursor.hovered {
    -webkit-transform: translate(-50%, -50%) scale(1.3);
    -ms-transform: translate(-50%, -50%) scale(1.3);
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0.75;
  }
}

@media (min-width: 992px) {
  :root {
    --fontSize-2: 4.5rem;

    --section-spacing: 100px;
  }

  .container {
    max-width: 1040px;
  }

  .h2 {
    line-height: 1.1;
  }

  .nav-toggle-btn {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
  }

  .navbar-item,
  .navbar-item:last-child {
    border: none;
  }
  .navbar-item {
    position: relative;
  }
  .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header .btn {
    display: -ms-grid;
    display: grid;
    text-align: center;
  }
  .navbar-item:hover > .service {
    -webkit-animation: fadeIn 1s ease forwards;
    animation: fadeIn 1s ease forwards;
    scale: 1;
    display: block !important;
  }
  .service {
    top: 40px;
    padding: 20px 20px 10px;
    min-width: max-content;
    position: absolute;
    scale: 0;
    transition: all 0.5s ease;
    transform-origin: 50% -3%;
    display: none;
    background-color: var(--bg-oxford-blue);
  }

  .service-item {
    padding: 10px;
    font-weight: 500;
  }
  .service-item:hover {
    color: var(--bg-purple);
  }
  .service.active {
    background-color: var(--bg-oxford-blue);
  }
}
