:root {
  /*  background color */
  --bg-color1: #d47725;
  --bg-color2: #333;
  --primary-color: #64bf2e;
  --primary-fade-color: #7acb4c;
  --text-desc-color: #b7a3b7;
  --text-color: #1e1d1d;
  --bg-header-color: #f5ffeb;
  --white-color: #fff;
  --black-color: #000;
  --body-color: #e4e9f7;
  --sidebar-color: #f8fff7;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --bg-input-color: #ffffff;
  --text-color1: #000;
  --input-shadow-color: #3b503b38;

  /* Height */
  --height-header: 80px;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body.dark {
  --body-color: #261f26;
  --sidebar-color: #242624;
  --primary-color: #80cb54;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --bg-input-color: #6c6c6c;
  --text-color1: #fff;
  --input-shadow-color: #c7c7c791;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f53f;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  background-color: #f5f5f522;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: rgba(74, 216, 83, 0.767);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
