.header {
  background-color: #0c0c36;
}
main {
  font-family: var(--font-family-myriadPro);
}
.general-container {
  width: 100%;
  margin-top: 95px;
  color: #333;
}
.project {
  width: 100%;
}
.project-info {
  /* width: 50%; */
  margin-left: 10px;
  padding: 20px 0;
}

.project-info h2 {
  color: var(--text-black);
}

.project-image {
  width: 60%;
  margin: auto;
  object-fit: cover;
}
.big-title {
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid black;
}
.title {
  margin: 5px;
  color: #333;
  text-align: center;
  background-color: rgb(210, 206, 206);
}
.member {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.card {
  background: white;
  box-shadow: 0 0 2px;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  margin: 0 20px;
}

.card h2 {
  font-size: 2.2rem;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.card img {
  width: 120px;
  height: 120px;
  border: 2px solid rgba(230, 221, 221, 0.769);
  border-radius: 50%;
  overflow: hidden;
  margin: 25px auto;
}
.card p {
  margin: 5px;
}
.card button {
  width: 110px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background: whitesmoke;
  font-size: medium;
  margin: 0 auto;
}
.card:hover {
  background-color: rgb(27, 27, 27);
  color: white;
}
.card:hover h2 {
  font-size: 2.5rem;
}

.card button:hover {
  background-color: rgb(91, 89, 90);
  border: 1px solid rgb(212, 245, 249);
  color: white;
}
