.general-container{
    width: 100%;
    display: flex;
    color: #333;
    padding: 0 12px;
    margin-top: 95px;
}

.container-payment,
.container-form{
    width: 50%;
}

.form-title{
    margin: 25px auto 0;
    text-align: center;
    font-size: 25px;
}

.form-warning{
    display: flex;
    justify-content: center;
}

.form-warning a{
    margin-left: 12px;
    color: blue;
}

.form-input{
    width: 100%;
    padding: 0 12px;
    margin: 6px 0;
}

.form-input input{
    border: 2px solid black;
    max-width: 100%;
    padding: 0 12px;
}

.form-contact{
    display: flex;
}

.form-contact .form-input{
    padding: 0 12px;
}

.method{
    border: 1px solid black;
    margin: 0 12px;
}

.delivery-method{
    display: flex;
    border-top: 1px solid #333;
}

.delivery-method:first-child{
    border-top: none;
    border-bottom: 1px solid #333;
}

.delivery-method label{
    margin-top: 2px;
}

.input-radio{
    width: 5%;
    margin: 8px;
}
