* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/*===================== common =========================*/

a {
  text-decoration: none;
}

.main-content {
  max-width: 1200px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
  background: var(--color-2);
  border-radius: 999px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.sign-up-btn {
  background-image: linear-gradient(to right, #7bce4a, var(--primary-color));
}

.sign-up-btn:hover {
  background-image: linear-gradient(to right, var(--primary-color), #7bce4a);
}
/* header */

.header.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--bg-navbar-color);
  z-index: 2;
}
.header.fixed .body {
  display: flex;
  align-items: center;
  height: 80px;
}
.header.fixed .header-menu {
  width: 100%;
  /* margin-left: auto; */
}
.header.fixed .header-menu ul {
  display: flex;
  justify-content: space-evenly;
}
.header.fixed .header-menu li {
  display: inline-block;
}
.header.fixed .header-menu li.active {
  position: relative;
}

.header-menu li.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -20px;
  left: 0;
  background-color: var(--primary-color);
  border-radius: 4px;
}
.header-menu ul > :not(li.active) {
  position: relative;
}
.header-menu ul > :not(li.active):after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: -20px;
  left: 0;
  transform-origin: center;
  -webkit-transform-origin: center;
  background-color: var(--primary-color);
  border-radius: 4px;
  transition: width 0.5s ease;
}
.header-menu ul > :not(li.active):hover::after {
  width: 100%;
}

.header.fixed .header-menu li a {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 500;
}
.header.fixed .header-menu li a:hover {
  color: var(--primary-color);
}

.header.fixed .header-search {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: var(--bg-input-color);
  border-radius: 999px;
  /* overflow: hidden; */
  padding: 4px 18px;
}

.header.fixed .header-search input {
  max-width: 800px;
  height: 40px;
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 600;
  border: none;
  margin-right: 15px;
  background-color: var(--bg-input-color);
}
.header.fixed .header-search:focus-within,
header.fixed .header-search input:focus {
  background-color: #ffffff;
  border: none;
  outline: none;
}
.header.fixed .header-search input::placeholder {
  color: var(--text-color);
  font-weight: 600;
  opacity: 1;
  letter-spacing: 1.2px;
}
.header.fixed .header-search i {
  padding: 4px;
  cursor: pointer;
  color: var(--text-color);
  position: relative;
}

.header.fixed .header-search i::after {
  position: absolute;
  left: -10px;
  top: 0;
  content: "";
  display: block;
  width: 3px;
  border-radius: 999px;
  height: 100%;
  background-color: var(--primary-color);
}
.dark .header.fixed .header-search i:hover {
  color: #06b006;
  text-shadow: 0 0px 6px #385538, 0 0px 10px #3b503b;
}
.header.fixed .header-search i:hover {
  color: #06b006;
  text-shadow: 0 0px 6px #54f656, 0 0px 10px #54f656;
}

.header.fixed .green-lines {
  background-image: url(../img/green_lines.jpg);
  width: 100%;
  height: 24px;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  left: 0;
  top: 104px;
  margin: auto;
  bottom: 0;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 9999;
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar .toggle {
  position: absolute;
  top: 50%;
  right: -14px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--primary-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text {
  color: var(--text-color);
}
