* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: overlay;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/*===================== common =========================*/

a {
  text-decoration: none;
}

.main-content {
  max-width: calc(100% - 54px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
  background: var(--color-2);
  border-radius: 999px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.sign-up-btn {
  background-image: linear-gradient(to right, #7bce4a, var(--primary-color));
}

.sign-up-btn:hover {
  background-image: linear-gradient(to right, var(--primary-color), #7bce4a);
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #292c29ef;
}
#loader li {
  display: inline-block;
  list-style: none;
  height: 25px;
  width: 25px;
  background: #0fa;
  border-radius: 100%;
  margin: 0 0.2em;
  animation: anm 1s linear infinite alternate;
}

@keyframes anm {
  0% {
    transform: scale(0.1);
    filter: hue-rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
    filter: hue-rotate(360deg);
  }
}

#loader li:nth-child(2) {
  animation-delay: 0.4s;
}

#loader li:nth-child(3) {
  animation-delay: 0.8 s;
}

/* header */

.header.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--sidebar-color);
  z-index: 2;
}
.header.fixed .body {
  display: flex;
  align-items: center;
  height: var(--height-header);
}
.header.fixed .header-menu {
  width: 100%;
  /* margin-left: auto; */
}
.header.fixed .header-menu ul {
  display: flex;
  justify-content: space-evenly;
}
.header.fixed .header-menu li {
  display: inline-block;
}
.header.fixed .header-menu li.active {
  position: relative;
}

.header-menu li.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -20px;
  left: 0;
  background-color: var(--primary-color);
  border-radius: 4px;
}
.header-menu ul > :not(li.active) {
  position: relative;
}
.header-menu ul > :not(li.active):after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: -20px;
  left: 0;
  transform-origin: center;
  -webkit-transform-origin: center;
  background-color: var(--primary-color);
  border-radius: 4px;
  transition: width 0.5s ease;
}
.header-menu ul > :not(li.active):hover::after {
  width: 100%;
}

.header.fixed .header-menu li a {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 500;
}
.header.fixed .header-menu li a:hover {
  color: var(--primary-color);
}

.header.fixed .header-search {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: var(--bg-input-color);
  box-shadow: inset 2px 2px 4px var(--input-shadow-color),
    2px 2px 4px var(--input-shadow-color);
  border-radius: 999px;
  /* overflow: hidden; */
  padding: 4px 18px;
}

.header.fixed .header-search input {
  max-width: 800px;
  height: 40px;
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 600;
  border: none;
  margin-right: 15px;
  background-color: var(--bg-input-color);
}
.header.fixed .header-search:focus-within,
header.fixed .header-search input:focus {
  border: none;
  outline: none;
}
.header.fixed .header-search input::placeholder {
  color: var(--text-color);
  font-weight: 600;
  opacity: 1;
  letter-spacing: 1.2px;
}
.header.fixed .header-search i {
  padding: 4px;
  cursor: pointer;
  color: var(--text-color);
  position: relative;
}

.header.fixed .header-search i::after {
  position: absolute;
  left: -10px;
  top: 0;
  content: "";
  display: block;
  width: 3px;
  border-radius: 999px;
  height: 100%;
  background-color: var(--primary-color);
}
.dark .header.fixed .header-search i:hover {
  color: #06b006;
  text-shadow: 0 0px 6px #385538, 0 0px 10px #3b503b;
}
.header.fixed .header-search i:hover {
  color: #06b006;
  text-shadow: 0 0px 6px #54f656, 0 0px 10px #54f656;
}

.header.fixed .green-lines {
  background-image: url(../img/green_lines.jpg);
  width: 100%;
  height: 24px;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  left: 0;
  top: calc(var(--height-header) + 24px);
  margin: auto;
  bottom: 0;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 9999;
}
.sidebar.close {
  width: 88px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar .toggle {
  position: absolute;
  top: 50%;
  right: -14px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--primary-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

/* ======= home page ========*/

#main-wrap {
  position: absolute;
  right: 0;
  top: calc(var(--height-header) + 24px);
  width: calc(100% - 88px);
  transition: var(--tran-05);
}
#main-wrap.amplify {
  width: calc(100% - 250px);
}
#main-wrap .banner-wrapper {
  width: 100%;
  height: calc(100vh - 24px - var(--height-header));
  outline: 1px solid red;
  background-image: linear-gradient(45deg, #362471, #115b8a);
}

#main-wrap .banner-wrapper .banner__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.all {
  margin-top: 20px;
  height: 2000px;
}
.sec__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: relative;
}

.sec__header::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #a09fa4;
}
.sec__list {
  float: right;
}

.sec__header .sec__title {
  font-size: 2.4rem;
  font-weight: 600;
  position: relative;
  color: var(--text-color1);
}

.sec__header .sec__title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -16px;
  width: 30%;
  height: 5px;
  border-radius: 999px;
  background-image: linear-gradient(#a2eea4, var(--primary-color));
}
.sec__list .sec__item {
  display: inline-block;
}
.sec__list .sec__item + .sec__item {
  margin-left: 10px;
}

.sec__list .sec__item a {
  display: block;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
  outline: 2px solid var(--primary-color);
  border-radius: 999px;
  text-align: center;
  color: var(--text-color1);

  cursor: pointer;
}

.sec__list .sec__item a:hover {
  background-color: var(--primary-fade-color);
  color: var(--text-color1);
}
.sec__list .sec__item.active a {
  background-color: var(--primary-color);
  color: var(--text-color1);
  outline: none;
}

.animate-item.animate-item__left {
  opacity: 0;
  transform: translateX(-50px) !important;
  transition: opacity 1.2s ease-out, transform 1.2s ease-out !important;
}

.animate-item.animate-item__right {
  opacity: 0;
  transform: translateX(50px) !important;
  transition: opacity 1.2s ease-out, transform 1.2s ease-out !important;
}

.animate-item.animate-item__top {
  opacity: 0;
  transform: translateY(50px) !important;
  transition: opacity 1.2s ease-out, transform 1.2s ease-out !important;
}

.animate-item.animate-item-show {
  opacity: 1;
  transform: translateY(0) !important;
}
