* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/*===================== common =========================*/

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
  background: var(--color-2);
  border-radius: 999px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.sign-up-btn {
  background-image: linear-gradient(to right, #64bf2e, var(--primary-color));
}

/* header */

.header.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--bg-navbar-color);
  z-index: 2;
  box-shadow: 0 4px 10px #a5a4a4;
}
.header.fixed .body {
  display: flex;
  align-items: center;
  height: 80px;
}
.header.fixed .nav {
  width: 100%;
  /* margin-left: auto; */
}
.header.fixed .nav ul {
  display: flex;
  justify-content: space-evenly;
}
.header.fixed .nav li {
  display: inline-block;
}
.header.fixed .nav li.active {
  position: relative;
}

.nav li.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -20px;
  left: 0;
  background-color: var(--primary-color);
  border-radius: 4px;
}
.nav ul > :not(li.active) {
  position: relative;
}
.nav ul > :not(li.active):after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: -20px;
  left: 0;
  transform-origin: center;
  -webkit-transform-origin: center;
  background-color: var(--primary-color);
  border-radius: 4px;
  transition: width 0.5s ease;
}
.nav ul > :not(li.active):hover::after {
  width: 100%;
}

.header.fixed .nav li a {
  font-size: 1.8rem;
  color: var(--text-color2);
  font-weight: 500;
}
.header.fixed .nav li a:hover {
  color: var(--primary-color);
}

.header.fixed .header-search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header.fixed .header-search input {
  min-width: 100px;
  max-width: 800px;
  height: 40px;
  padding: 6px 10px;
  font-size: 1.4rem;
  color: var(--text-color2);
  font-weight: 600;
  border-radius: 4px;
  background-color: #ddd;
  border: none;
  margin-right: 10px;
}
.header.fixed .header-search input:focus {
  background-color: #ffffff;
  border: none;
  /* outline: none; */
}
.header.fixed .header-search input::placeholder {
  color: var(--text-color2);
  font-weight: 600;
  opacity: 1;
  letter-spacing: 1.2px;
}
.header.fixed .header-search i {
  padding: 4px;
  cursor: pointer;
}
.header.fixed .header-search i:hover {
  color: #06b006;
}

.header.fixed .green-lines {
  background-image: url(../img/green_lines.jpg);
  width: 100%;
  height: 24px;
}
